body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 200px;
  height: 200px;
  margin: 20px;
  cursor: pointer;
  border-radius: 40px;
}

.container {
  background-color: grey;
  justify-content: center;
  align-items: center;
  color: brown;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
}
